<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <% if (!(currentPath.startsWith("/signup") || currentPath.startsWith("/login") || currentPath.startsWith("/logout"))) { %>
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore All</a>
          <a class="nav-link custom-link" href="/listings/new">Add New</a>
        </div>

        <!-- Centered Search Form -->
        <div class="mx-auto">
          <form class="d-flex" role="search" action="/listings" method="GET">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" style="border-radius: 30px !important;">
            <button class="btn btn-outline-danger d-flex align-items-center" type="submit" style="border-radius: 30px !important;">
                <i class="fa-solid fa-search"></i> Search
            </button>
          </form>
        </div>
        <% } %>
      </div>

      <div class="navbar-nav ms-auto">
          <% if (!currUser) { %>
              <a class="nav-link" href="/signup"><b>Sign up</b></a>
              <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if (currUser) { %>
              <a class="nav-link" href="/logout">Log out</a>
          <% } %>
      </div>
  </div>
</nav>
